
:root {

  --color1: white;
  --color2: #c9d6df;
  --color3: #52616b;
  --color4: #1e2022;
  --colorfondo: #1e2022;
  --coloruso: #f0f5f9;
}

* { 


  padding: 0;
  margin: 0;
  font-family: 'Silkscreen', cursive;
  text-decoration: none;

}

img {

  width: 100%;
  height: auto;
}
body {

  background: linear-gradient(var(--coloruso), var(--color3));
}


@media only screen and (min-width: 700px) {
  

  header {


    display: grid;
    grid-template-rows: auto 80%;
    height: 10vw;
    margin-bottom: 8vw;
  }

  .titulo {
 
    
    display: flex;
    justify-content: center;
  }

  @keyframes fondo {

    0% {
      scale: 100%;
      text-shadow: 0 0 3px var(--color4);
    }

    70% {
      scale: 105%;
      text-shadow: 0 10px 30px black;
    }

    100% {
      scale: 100%;
      text-shadow: 0 0 3px var(--color4);
    }
  }

  h1:hover {
    z-index: 3;
    color: var(--color4);
    animation: fondo 0.2s ease-in;
    text-shadow: 0 1vw 10px var(--color2);
  }

  h1 {
    transition: 0.4s;
    text-shadow: 0 1vw 10px var(--color2);
    color: var(--color3);
    font-size: 5vw;
    font-variant: small-caps;
    text-shadow: 0 4px 0 var(--color1);
  }

  h1:active {
    scale: 95%;
    transition: 0.1s;
  }

  #menu {
    z-index: 2;
  }

  #menulibros {
    display: none;
  }

  .nav {
  
    width: 90%;
    height: 100%;
    
    display: grid;
    grid-template-columns: auto 90% auto;
    
  }

  .nav ul {
    grid-column: 2;
  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }

  .nav li {
  
    padding: 1vw;
    
  }

  .nav li a {
    color: var(--color4);
    font-size: 1.4vw;
  }

  .nav li a:hover {
    font-weight: bold;
  }


  .tres {
    margin-top: 2em;
    display: grid;
    grid-template-columns: minmax(auto, 3%) 80% minmax(auto, 3%);
    grid-gap: 1em;
  }

  .uno {
    margin-top: 2em;
    display: grid;
    grid-template-columns: minmax(auto, 3%) 30% auto;
    grid-gap: 1em;
  }

  .tres .contenedorLibro {
    margin: 2px;
    grid-column: 2;
  }

  .tres .contenedorLibro img {
    height: 80vh;
    width: auto;
  }

  .uno .contenedorLibro {
    margin: 2px;
    grid-column: 2;

  }

  .uno .contenedorLibro img {
    height: auto;
    width: 60vw;
  }

  aside {
    display: flex;
    flex-direction: column;
    grid-column: 3;
  }


  aside button {
    margin: 1vw 0 1vw 0;
    position: -webkit-sticky;
    position: sticky;
    align-items: flex-start;
    top: 100px;
    left: 90vw;
    width: 5em;
    height: 20vh;
    min-height: 4vw;
    max-height: 50px;
    border-radius: 10px;
    color: var(--color1);
    background-color: var(--color4);
    box-shadow: 3px 0px 6px 0px var(--color3);
    border-style: none;
    font-size: 1.4vw;
    font-variant: small-caps;
  }

  button:nth-of-type(1) {
    top: 20vh;
  }

  button:nth-of-type(2) {
    top: 30vh;
  }

  button:nth-of-type(3) {
    top: 40vh;
  }

  #arriba {
    top: 50vh;
  }

  button:hover {
    background-color: var(--color2);
    color: var(--color4);
    scale: 110%;
    transition: 0.2s ease-in-out;
    z-index: 2;
  }

  button:active {
    scale: 80%;
  }
  .botonactivo {

    background-color: var(--coloruso);
    color: var(--color4);
  }


}

@media only screen and (max-width: 700px) {


  header {

    display: grid;
    grid-template-columns: auto 70%;
    height: 40vw;
    margin-bottom: 4vw;
    border-bottom: var(--color4) double 4px;
  }

  .titulo {
    grid-column: 2;
    padding-bottom: 2vw;
    z-index: 3;
  }

  .titulocambio {
    padding-left: 10%;
    grid-area: 1/1/2/3;
    transition: 0.6s ease-in;
  }



  @keyframes letras {
    0% {
      color: var(--color1);
    }

    100% {
      color: var(--color4);
    }
  }

  h1 {
    transition: 0.2s;
    margin-right: 4px;
    color: var(--color4);
    font-size: 9vw;
    font-variant: small-caps;
    text-shadow: 0 4px 0 var(--color1);
  }

  h1:active {
    scale: 110%;
    transition: 0.4s;
  }
  .nav {
    transition: 1s ease;
    display: none;
  }

  @keyframes letras2 {
    0% {
      scale: 0;
    }

    100% {
      scale: 1;
    }
  }

  .nav ul {
    animation: letras2 0.5s ease-in;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav li {
    list-style: none;
    padding: 12px 0;
  }

  .nav li a {
    animation: letras 0.5s ease-in;
    width: 50%;
    color: var(--color4);
    font-size: 15px;
    text-decoration: none;
  }

  .menuabierto {
    margin-top: 500px;
    transition: 0.3s ease-in;
  }

  .menulibrosabierto {
    width: 98vw;
  }

  .nav li a:hover {
    font-weight: bold;
  }

  #menu {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
  }

  #contenedor-header {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in;
  }

  .cambio {
    display: block;
  }

  #menulibros {
    margin: 2vw 0 0 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color4);
    color: var(--color1);

    border-radius: 5px;
    width: 20vw;
    height: 20vw;
  }

  #menulibros p {
    font-size: 1em;
  }
  .tres {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 90% auto;


  }

  .uno {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 80% 10%;
  }

  .tres .contenedorLibro {

    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .tres .contenedorLibro img {
    height: auto;
    width: 80%;
  }

  .uno .contenedorLibro {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .uno .contenedorLibro img {
    height: auto;
    width: 80%;
  }

  aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-column: 2;

  }

  aside button {
    width: 80%;
    height: auto;
    border-radius: 4px;
    background-color: var(--color4);
    position: -webkit-sticky;
    position: sticky;
    align-items: flex-start;
    color: var(--color1);
    box-shadow: 3px 0px 6px 0px var(--color3);
    border-style: none;
    font-size: 70%;
    font-weight: 700;
    font-variant: small-caps;
  }

  button:nth-of-type(1) {
    display: none;
  }

  button:nth-of-type(2) {
    display: none;
  }

  button:nth-of-type(3) {
    top: 80vh;

  }

  #arriba {
    top: 90vh;
  }

  button:active {
    background-color: var(--color2);
    color: var(--color4);

    transition: 0.2s ease-in-out;
    z-index: 2;
    scale: 80%;
  }

  .botonactivo {
    background-color: var(--coloruso);
    color: var(--color4);
  }

  
}

main {
  padding-top: 2vw;
  border-top: solid 3px black;
}

.texto {
  display: inline;
}

.textohidden {
  display: none;
}
